.flex-container {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
}
.review-img{
    margin-right: 10px;
}
.review-img img{
    height: 30px;
    width: 30px;
}
.review-content li {
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 10px;
}